body {
  /* background-image: url("../../assets/background.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #e1f0fa;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font: #000000;
}

.App {
  text-align: center;
}

.header-container {
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  background-color: #f3f7ec;
  padding: 10px 0;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.header-logo {
  width: 150px;
}

.header-container Link {
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.auth-Link {
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
  border: #03346e 2px solid;
  background-color: #03346e;
  border-radius: 30px;
  padding: 10px 20px;
  transition: color 0.3s ease, border 0.3s ease, background 0.3s ease,
    box-shadow 0.3s ease;
}

.auth-Link:hover {
  color: #021526;
  border: #021526 2px solid;
  background: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchForm {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  width: 70%;
}

.searchForm form,
.form-container {
  background: #f3f7ec;
  border-radius: 10px;
  padding: 30px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  height: fit-content;
  transition: transform 0.3s ease;
}

.form-container {
  width: 50%;
  max-width: 500px;
  margin: 50px auto;
}

.searchForm input[type="text"],
.searchForm select,
.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.searchForm button,
.form-container-button,
.pet-details button {
  background-color: #03346e;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.searchForm button:hover,
.form-container-button:hover,
.pet-details button:hover {
  background-color: #021526;
}

.file-input {
  display: block;
  margin: 10px 0;
  cursor: pointer;
}

.searchResults {
  background-color: #f3f7ec;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 60%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.searchResults h1 {
  font-size: 1.5em;
  color: #333;
}

.searchResults h2 {
  font-size: 1.2em;
  color: #666;
}

.searchResults h3 {
  font-size: 1em;
  color: #999;
}

.pet {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.pet div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pet img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
}

.pet-more-info {
  background-color: #03346e;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

.pet-more-info:hover {
  background-color: #021526;
}

.pet-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 90%;
  max-width: 800px;
  background: #f3f7ec;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pet-details img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pet-details h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

.pet-details p {
  font-size: 16px;
  color: #666;
  text-align: center;
}

.no-pets-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: #666;
}

.no-pets-found i {
  font-size: 48px;
  color: #03346e;
  margin-bottom: 10px;
}

.no-pets-found p {
  font-size: 18px;
  margin: 0;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f9f9f9;
}

.loading-image {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.register,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 30%;
  max-width: 800px;
  background: #f3f7ec;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.register form,
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.register input,
.login input {
  width: 80%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  font-size: 16px;
}

.register input:hover,
.login input:hover {
  border-color: #888;
}

.register input:focus,
.login input:focus {
  border-color: #03346e;
  box-shadow: 0 0 8px rgba(3, 52, 110, 0.2), inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Add inner shadow on focus */
  outline: none;
  background-color: #fff;
}

.register button,
.login button {
  background: #03346e;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 15px 20px;
  margin: 30px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 80%;
  transition: background 0.3s ease, transform 0.3s ease;
}

.register button:hover,
.login button:hover {
  background: #021526;
}

.auth-invalid-input {
  border: 1px solid #ff0000;
  background-color: #ffe6e6;
  color: #ff0000;
  width: 70%;
  text-align: center;
  padding: 15px 25px;
  margin: 10px auto;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  border-radius: 4px;
}
