body {
  background-image: url("../../assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  height: auto;
}

.App {
  text-align: center;
}

.header {
  color: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #dadada;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.header-logo {
  width: 150px;
}

.floating-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header-container Link {
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.searchForm {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  width: 70%;
}

.searchForm form,
.form-container {
  background: linear-gradient(135deg, #e0e0e0, #f9f9f9);
  border-radius: 10px;
  padding: 30px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  height: fit-content;
  transition: transform 0.3s ease;
}

.form-container {
  width: 50%;
  max-width: 500px;
  margin: 50px auto;
}

.searchForm input[type="text"],
.searchForm select,
.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.searchForm button,
.form-container-button,
.pet-details button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.searchForm button:hover,
.form-container-button:hover,
.pet-details button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.searchResults {
  width: 60%;
}

.file-input {
  display: block;
  margin: 10px 0;
  cursor: pointer;
}

.searchResults {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.searchResults h1 {
  font-size: 1.5em;
  color: #333;
}

.searchResults h2 {
  font-size: 1.2em;
  color: #666;
}

.searchResults h3 {
  font-size: 1em;
  color: #999;
}

.pet {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.pet div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pet img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
}

.pet-more-info {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

.pet-more-info:hover {
  background-color: #45a049;
}

.pet-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  background: linear-gradient(135deg, #e0e0e0, #f9f9f9);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pet-details img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pet-details h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

.pet-details p {
  font-size: 16px;
  color: #666;
  text-align: center;
}

.no-pets-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: #666;
}

.no-pets-found i {
  font-size: 48px;
  color: #4caf50;
  margin-bottom: 10px;
}

.no-pets-found p {
  font-size: 18px;
  margin: 0;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f9f9f9;
}

.loading-image {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
