body {
  background-image: url("../public/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  height: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.searchForm {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  width: 50%;
}

.searchForm form,
.form-container {
  background: linear-gradient(135deg, #e0e0e0, #f9f9f9);
  border-radius: 10px;
  padding: 30px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  height: fit-content;
  transition: transform 0.3s ease;
}

.form-container {
  width: 50%;
  max-width: 500px;
  margin: 50px auto;
}

.searchForm input[type="text"],
.searchForm select,
.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.searchForm button,
.form-container-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.searchForm button:hover,
.form-container-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.searchResults {
  width: 60%;
}

.file-input {
  display: block;
  margin: 10px 0;
  cursor: pointer;
}

.searchResults .pet {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.searchResults .pet h1 {
  font-size: 1.5em;
  color: #333;
}

.searchResults .pet h2 {
  font-size: 1.2em;
  color: #666;
}

.searchResults .pet h3 {
  font-size: 1em;
  color: #999;
}

.pet:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pet-more-info {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

.pet-more-info:hover {
  background-color: #45a049;
}

.pet-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  background: linear-gradient(135deg, #e0e0e0, #f9f9f9);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pet-details img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pet-details h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

.pet-details p {
  font-size: 16px;
  color: #666;
  text-align: center;
}
